body {
    margin: 40px;
  }

  h1, h2, p {
    color: black;
    text-align: center;
  }

  .container {
    display: flex;
    
  }

  .column {
    flex: 11,11%;
    max-width: 11,11%;
  }

  div {
    width: 11,11%;
    height: 100%;
    margin: 10px;
    padding: 5px;
    justify-content: space-around;
  }

  .box{
    border: 1px solid black;
  }

 

  


 